/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: barlow, arial, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #272727;
    color: white;
}

svg {
    color: white;
}

.games-container {
    margin-top: 30px;
    width: 100%;
    height: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
}

.section-tendances {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.show-more-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    button {
        padding: 20px 50px 20px 50px;
        font-size: 20px;
    }
}

/* Styles globaux */
.section-title {
    margin-left: 60px;
    margin-bottom: 10px;
    font-size: 30px;
    span {
        text-decoration: double underline;
    }
}
section {
    margin-bottom: 100px;
}

.button {
    min-height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(254, 64, 32);
    color: white;
    transition: 0.5s;
    cursor: crosshair;
    &:hover {
        transition: 0.5s;
        background-color: rgb(217, 45, 14);
        scale: 1.05;
    }
    svg {
        scale: 1.5;
        color: white;
    }
}

* {
    user-select: none;
}

/* Media queries */

@media (max-width: 768px) {
    .games-container {
        grid-template-columns: 45% 45%;
    }
    .section-title {
        max-width: 90%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .games-container {
        grid-template-columns: 95%;
    }
    .section-title {
        font-size: x-large;
        max-width: 90%;
        display: flex;
        justify-content: center;
    }
}
