.game-details-container {
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    .game-details-image {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 80%;
            border-radius: 10px;
            border: 15px solid black;
            transition: 0.5s;
            &:hover {
                scale: 1.05;
                transition: 0.5s;
            }
        }
    }
    .game-details {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .game-title {
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: 35px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .game-description {
            width: 100%;
            font-size: 20px;
        }
        .game-infos {
            p {
                margin-top: 20px;
                font-size: 20px;
            }
            span {
                text-decoration: underline;
            }
        }
        .game-options {
            margin-top: 40px;
            button {
                padding: 15px;
                scale: 1.2;
                transition: 0.5s;
                &:hover {
                    scale: 1.3;
                    transition: 0.5s;
                }
            }
        }
    }
}

.game-infos-platform {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 800px) {
    .game-details-container {
        display: block;
        height: 100%;
        .game-details-image {
            margin-top: 40px;
            width: 100%;
        }
        .game-details {
            width: 80%;
            margin: 40px;
            .game-title {
                width: 100%;
                font-size: 20px;
            }
        }

        .game-infos {
            max-width: 80%;
            p {
                font-size: 15px;
            }
        }
    }
}
