.footer-container {
    justify-content: space-evenly;
    display: flex;
    background-color: black;
    align-items: center;
    gap: 50px;
    min-height: 15vh;
    padding: 30px 0 30px 0;
    a {
        text-decoration: none;
        color: white;
        transition: 0.5s;
        &:hover {
            cursor: pointer;
            transition: 0.5s;
            color: rgb(254, 64, 32);
        }
    }
}

.footer-usefull-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.footer-social {
    a {
        margin-bottom: 5px;
        transition: 0.5s;
    }
    display: flex;
    flex-direction: column;
}

.footer-separator {
    height: 150px;
    width: 3px;
    background-color: white;
    transition: 0.5s;
}
