.page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.cart-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 20px;
    margin-top: 20px;
}

// Style des Cartes du panier

.cart-game-card {
    font-size: large;
    display: flex;
    width: 100%;
    gap: 20px;
    background-color: black;
    padding: 5px;
    border-radius: 20px;
    .cart-card-title-image {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            border-radius: 20px;
        }
    }
    .cart-card-content {
        display: flex;
        justify-content: space-between;
        margin: 0 20px 0 20px;
        align-items: center;
        width: 100%;
    }
}

.cart-item-button {
    padding: 10px;
}

.cart-summary {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: large;
    background-color: black;
    padding: 50px 0 50px 0;
    border-radius: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    p {
        margin-bottom: 10px;
    }
}

// Medias queries

@media (max-width: 768px) {
    .cart-items-container {
        width: 95%;
    }
    .cart-game-card {
        display: flex;
        width: 90%;
        font-size: small;
        img {
            height: 90%;
            width: auto;
        }
    }
    .cart-game-card {
        .cart-card-content {
            display: flex;
            justify-content: space-between;
            margin: 0 20px 0 20px;
            align-items: center;
            width: 100%;
        }
    }
    .cart-summary {
        display: block;
        width: 90%;
        font-size: small;
        display: flex;
    }
}
